@using WebApplication1.MF
@model Posts

@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client</h2>
@ViewBag.Msg

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Client", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                
            <div class="col-md-offset-2 col-md-10">
                <div>Сообщение</div>
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                @Html.TextAreaFor(m => m.Text, 5,40,null)
                <input type="file" name="upload" /><br>
            </div>                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Отправить" class="btn btn-default" />
                    </div>
                </div>

            }

        </section>
    </div>    
</div>

